.desc {
  font-family: lato;
  font-weight: bold;

}

.egg {
  border-radius: 40px;

}

.ing {
  font-family: lato;
}

li {
  font-family: lato;
}

ol {
  font-family: lato;
  margin-bottom: 1cm;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin-top: 1cm;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.turon {
  border-radius: 40px;
}

.biko {
  border-radius: 40px;
}

.title-page {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}